<!doctype html>
<html lang="en-nz">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modcrafter</title>
    <link rel="stylesheet" href="style.css">
    {% include "parts/common.html" %}
</head>

<body>

    <h1>Compilation complete.</h1>
    <p>Find your mod file in <code>lib/jars</code>.</p>
    <p>Close this window and play your mod!</p>
    <p><a href="/"><button>Back to editor</button></a></p>

    <h2>Configuration content</h2>
    <p>Find this information in <code>Modcrafter.yml</code></p>
    <pre>{YAML}</pre>

</body>

</html>
